body {
  background-color: #152736;
  color: #EFEFEF;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font-family:  "matrix-ii", "Times";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: #EFEFEF;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > img {
  height: 100px;
}

.logo-text {
  margin-left: 30px;
  flex-direction: column;
  font-weight: 600;
  font-size: 34px;
}

.header {
  width: 100%;
  height:100%;
  font-size: 24px;
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url('./img/ice.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  height: 70vh;
  text-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.header-no-img {
  font-size: 24px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url('./img/banner2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 20vh;
  text-shadow: 0 2px 4px rgba(0,0,0,0.7);
}

.fixo {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  transition: padding 500ms ease-in-out;
  width:calc(100% - 60px);
}

.fixo .logo img {
  transition: all 500ms;
}

.logo-text-bottom {
  transition: all 500ms;
}

.logo-text-top::after {
  content: 'Alpha Epsilon Pi';
}

.fixo.fixed {
  height: 90px;
  margin-top: -10px;
  padding-bottom: 0px;
  /* background-image: url('./hero.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.55);
  background-color: #2b465d;
  padding-top: 0;
  margin-bottom: -10px;
}

.fixo.fixed .logo img {
  transform: scale(0.5);
  opacity: 0;
  margin-left: -55px;
}

.fixo.fixed .logo-text-bottom {
  margin-top: -40px;
  opacity: 0;
}

.nav {
  margin-left: auto;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 32px;
}

.nav a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.nav a:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  width: 85%;
}

.section-pillars {
  margin-top: 30px;
  margin-bottom: 15px;
}

.section-title {
  font-size: 28px;
  color: #FEDC37;
  font-weight: 600;
  margin-top: 36px;
  margin-bottom: 36px;
}

.section-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-left: 8px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-profile-avatar {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid #EFEFEF;
  margin: 6px;
}

.section-profile-name {
  font-size: 24px;
}

.section-profile-title {
  font-size: 22px;
  font-style: italic;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  padding-bottom: 15px;
  opacity: 0.75;
  font-size: 20px;
  text-align: center;
}

.footer-lyric {
  font-family: 'matrix-ii-script';
}

.footer-credit {
  margin-left: auto;
}


@media (max-width: 850px) {

  .header {
    height: unset;
    background-image: none;
    background-attachment: scroll;
  }

  .nav a {
    font-size: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .fixo {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .logo {
    margin-bottom: -20px;
  }

  .logo-text {
    font-size: 30px;
    margin-left: 20px;
  }

  .logo-text-bottom {
    display: none;
  }

  .logo > img {
    height: 75px;
  }

  .logo-text-top::after {
    content: 'AEPi at CMU';
  }

  .nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -20px;
  }

}
